@charset "UTF-8";

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
    font-family: fontpo;
    src: local('フォントポにほんご');
  }

html {
    font-size: 62.5%;
}

body {
    font-family:'Klee One', cursive,'Inconsolata', monospace;
    font-size: 1.8rem;
    line-height: 1.75;
    color: #333333;
    margin: 0;
    position: relative;
}

ul,
li {
    list-style: none;
    padding-inline-start: 0px;
}

img {
    display: block;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
    color: inherit;
    cursor:pointer;
}
a:hover {
    color: #fff;
}
h1 {
    font-size: 32px;
    margin: 0;
}
h2 {
    font-size: 24px;
    margin: 10px 0;
}
hr {
    width: 100%;
    height: 1px;
    border: 0;
}
main {
    margin-left: 15%;
}
.wrapper {
    max-width: 1280px;
    overflow: hidden;
}

/* .wrapper_min {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 0;
} */
.wrapper_min {
    max-width: 66vw;
    margin-right: auto;
    margin-left: auto;
    padding: 80px 0;
}

.flex {
    display:-webkit-box;
   display:-ms-flexbox;
   display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px 0;
}
 /* ===============マウスストーカここから ============*/

 #cursor {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: transform 0.25s ease-out 0s;
    pointer-events: none;
    position: fixed;
    z-index: 1;
    background: #707070;
}
#cursor.active{
    transform: scale(3.4);
    background: rgba(226, 133, 110, 0.7);
  }
 /* ===============動き系cssまとめ ============*/
 /* ふわっと表示 */
 .fadein {
    opacity: 0;
    transform: translate(0, 80px);
    transition: all 800ms;
  }
  .fadein.scrollin {
    opacity: 1;
    transform: translate(0, 0);
  }
  /* アニメーション */
  .animation{
      opacity: 0;
      }
  /* アニメーションスタートの遅延時間を決めるCSS*/
  
  .delay2{
      animation-delay: .5s;
      }
  
  .delay3{
      animation-delay: 1s;
      }
  .delay4{
      animation-delay: 1.5s;
  }
  .delay5{
       animation-delay: 2s;
      }
  .delay6{
       animation-delay: 2.5s;
      }
  .on{
      animation-name:fadeUpAnime;
      animation-duration:0.5s;
      animation-fill-mode:forwards;
      opacity: 0;
      }
  
   @keyframes fadeUpAnime{
           from {
           opacity: 0;
            transform: translateY(100px);
           }
           to {
              opacity: 1;
              transform: translateY(0);
          }
  }
/* ===============動き系cssまとめ ここまで============*/
/* ===============ハンバーガーメニュー============*/
/* ハンバーガーメニュー見た目 */
.spNav_button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    position: relative;
  }
  .spNav_button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #91B693;
    border-radius: 4px;
  }
  .spNav_button,
  .spNav_button span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }
  .spNav_button span:nth-of-type(1) {
    top: 0;
  }
  .spNav_button span:nth-of-type(2) {
    top: 11px;
  }
  .spNav_button span:nth-of-type(3) {
    bottom: 0;
  }
  .header_txt {
    float: right;
  }
  .header_txt p {
    margin: 0;
    font-size: 1vw;
  }
  /* ハンバーガーメニュークリック時 */
  .spNav_button :active span {
    background-color: #fff;
}
  #js-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
    background: #fff;
    }
    #js-button.active span:nth-of-type(2) {
    opacity: 0;
    }
    #js-button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-20px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
    background: #fff;
    }

/* ===============ハンバーガーメニューここまで============*/

/*メイン*/
header {
}
/* .main {
    background-color: #F2F2F2;
} */
.gNav {
    position: fixed;
    z-index: 5;
}
.gNav_all.pcNav {
    position: fixed;
    background-color: #91B693;
    z-index: 5;
    width: 15%;
    height: 100vh;
}
.logo {
    display: contents;
}
.gNav_all img {
    width: 10%;
}
.gNav_list {
    width: auto;
    height: 100vh;
    font-weight: bold;
    letter-spacing: 2px;
    align-items: baseline;
    margin: 10px auto;
    padding: 20%;
}
.gNav_link {
    color: white;
}
.gNav_link:hover{
    color: #0A75BA;
}
.gNav_item {
    padding: 2vw 0 0 0;
}
.gNav_item_sub {
    padding: 10px 0 0 0;
}
.gNav_item_sub  a{
    padding-left: 2vw;
    position: relative;
}

.gNav_item:after {
    content: "";
    width: 0;
    transition: all 0.3s ease;
    border-bottom: 1px solid #fff;
    display: block;
}
.gNav_item:after:hover {
    width: 100%;
    transition: all 0.3s ease;
    border-bottom: 1px solid #fff;
}

.gNav_item_sub a::before {
    content: "";
    height: 3px;
    width: 15px;
    background: white;
    position: absolute;
    left: 0;
    top: 47%;
}
.spNav {
    display: none;
}
.MV {
    padding: 15% 0px;
    position: relative;
    width: 100%;
}
.mv_img {
    width: 55%;
    margin: auto;
    background: #85C7F2;
    padding: 50px;
    position: relative;
}

.mv_img img {
    width: 100%;
}
.mv_img:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E2856E;
    top: 10%;
    right: -6%;
    z-index: -1;
}

.distorted-circle1 {
    width: 4%;
    height: 6%;
    border-radius: 38% 31% 39% 61% / 53% 22% 78% 47%;
    background: #E2856E;
    margin: auto;
    position: absolute;
    /* transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); */
    right: 70%;
    top: 15%;
}

.distorted-circle2 {
    width: 4%;
    height: 6%;
    border-radius: 89% 25% 39% 81% / 73% 22% 28% 47%;
    background: #85C7F2;
    margin: auto;
    position: absolute;
    /* transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); */
    right: 80%;
    top: 15%;
}

.distorted-circle3 {
    width: 4%;
    height: 6%;
    border-radius: 78% 21% 39% 48% / 53% 22% 68% 40%;
    background: #91B693;
    margin: auto;
    position: absolute;
    /* transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); */
    right: 60%;
    top: 15%;
}

img.hitotume_mv2 {
    width: 13%;
    position: absolute;
    right: 25%;
    top: 6%;
    z-index: 1;
}

.distorted-circle1_bottom {
    left: 60%;
    top: 80%;
}

.distorted-circle2_bottom {
    left: 80%;
    top: 80%;
}

.distorted-circle3_bottom {
    left: 70%;
    top: 80%;
}

.hitotume_mv {
    width: 10%;
    position: absolute;
    left: 28%;
    bottom: 3%;
}

.mv_txt {
    color: #fff;
    text-align: end;
    width: 60%;
    margin: auto;
}

.MV_tag_all li{
    background-color: #00A499;
    display: inline-block;
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
}
/* 共通 */
.title {
    text-align: center;
    margin-bottom: 3vw;
}
.title_text{
    color: #707070;
    text-align: center;
    display: inline-block;
}
.title_text::after {
    content: "";
    border: 3px solid #E2856E;
    display:block;
    width: 100%;
}
.sub_txt {
    text-align: center;
}
.bg_2 {
    position: relative;
    background-color: #F2F2F2;
    z-index: 0;

}
.button_box {
    text-align: center;
    padding: 60px 0;
}

.button_box2 a{ 
    background-color: #fff;
}
.button_box a {
    color: #91B693;
    background: #fff;
    border: 1px solid #91B693;
    padding: 10px;
    display: inline-block;
    padding: 15px 30px 15px 30px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button_box a:hover{
    color: #fff;
    background-color: #91B693;
    border: 1px solid #91B693;
    padding: 10px;
    display: inline-block;
    padding: 15px 30px 15px 30px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* 共通 終*/
/*プロフィール*/
.profile_box_all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile_box {
    width: 30%;
}

.profile_box1 {
   border: #91B693 solid 4px; 
   padding: 2vw;
   background: #fff;
   width: 60%;
}
.profile_box img {
    display: block;
    width: 100%;
    margin: auto;
    background: #fff;
    border-radius: 50%;
}

/*プロフィール終*/
/*ワーク*/
.work_box {
    position: relative;
}
.work_box img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    z-index: 1;
    border: 1px solid #E2856E;
}
.work_box img:hover {
    transform: translate(-5px,-5px);
    box-shadow: 5px 5px #E2856E;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}

/*ワーク終*/

/*ブログ*/
.blog_box {
    width: 50%;
    margin: auto;
}
/*ブログ終*/

/* コンタクト */
.distorted-circle {
	width: 150px;
	height: 150px;
	border-radius: 69% 31% 39% 61% / 53% 22% 78% 47% ; /* 左上、右上、右下、左下 */
	background: #E2856E;
    margin: auto;
    position: relative;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.distorted-circle p{
    font-size: 24px;
    position: absolute;
    top: 20%;
    left: 15%;
    color: #fff;
    display: inline-block;
}

.distorted-circle:hover {
	background: #cf7963;
    color: #E2856E;
    border: 1px solid #E2856E;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* コンタクト 終*/
/* フッター*/
footer {
    padding: 10px 0;
    background-color: #91B693;
}
footer small {
    display: block;
    text-align: center;
    margin-left: 15%;
    color: #fff;
}
/* フッター 終*/
/* =============トップページ終=================*/

/* work詳細 */
.work_all .work_box {
    position: relative;
    width: 45%;
}
.work_all .work_box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    z-index: 1;
    border: 0;
}

.work_all .work_box a::after {
    content:"";
    background-image: url(/images/bg1.png);
    position: absolute;
    width: 100%;
    height: 280px;
    top: 6%;
    left: 3%;
    z-index: -1;
}
.work_all .work_box2 a::after {
    background-image: url(/images/bg2.png);
}
.work_all .work_box3 a::after {
    background-image: url(/images/bg3.png);
}

.work_all .work_box a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: rgba(145, 182, 147, 0.9);
    }    
.work_all .work_box a:hover::before{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}
.work_all .work_box2 a::before{
     background: rgba(219, 84, 97, 0.7);
}    
.work_all .work_box3 a::before{
    background: rgba(133, 199, 242, 0.9);
}
.work_info {
    padding: 50px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
}
.work_info:hover{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
}
.work_box p {
    margin: 0;
}
/* work詳細　終 */

/* web詳細ページ */
.workinfo_box_all {
    margin-bottom: 50px;
}
.workinfo_box{
    width: 50%;
}
.weburl:hover{
    color: #91B693;
}
.tag {
    background: #91B693;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 25%;
}
.workinfo_2 {
    background-color: #fff;
    position: relative;
    padding: 60px 100px;
}
.workinfo_2::after {
    content: "";
    position: absolute;
    top: 2%;
    left: 2%;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(/images/bg1.png);
    z-index: -1;
}
.web_hr {
    background-color: #91B693;
}
/* web詳細ページ　終 */

/* scholl詳細ページ */
.tag_school,.school_hr{
    background: #DB5461;
}
.workinfo_2_school::after {
    background-image: url(/images/bg2.png);
}
/* scholl詳細ページ　終 */

/* hobby詳細ページ */
.tag_hobby,.hobby_hr,.hobbyurl:hover{
    background: #85C7F2;
}
.workinfo_2_hobby::after {
    background-image: url(/images/bg3.png);
}
.photo img {
    width: 48%;
}
/* hobby詳細ページ　終 */
/* profile詳細ページ */
.profileinfo{
    width: 30%;
}
.profileinfo2 {
    width: 65%;
}
.profileinfo img{
        background: #F2F2F2;
        border-radius: 50%;
        width: 100%;
}
.profileinfo h2{
    text-align: center;
}
.skillbox_all {
    background: #F2F2F2;
    flex-wrap: wrap;
    padding: 50px;
}
.skillbox_all::after {
    display: block;
    content:"";
    width: 33%;
    }
.skillbox_step::after {
    display: block;
    content:"";
    width: 300px;
    }
.skill_box {
    text-align: center;
    margin: auto;
    width: 30%;
}
.skill_box p {
    margin: 0;
    font-size: 12px;
    text-align: start;
    height: 60px;
}
.skill_box h3 {
    text-align: center;
    margin: auto;
}
icon-tabler-brand-html5,icon-tabler-brand-css3, icon-tabler-brand-javascript{
    width: 100%;
}
.skill_box .Adobe {
    font-family: 'Lato',sans-serif;
    font-size: 45px;
    text-align: center;
    border: 4px solid #464646;
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 60px;
    margin: 10px 0 17px;
}
.wplogo {
    width: 32%;
    margin: 8px auto;
}
/* 経歴 */
.career_all {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.career_box {
    width: 20%;
    background-color: #F2F2F2;
    padding: 20px;
}
.career_box h3,.career_box h4 {
    margin: 0;
    text-align: center;
}
.career_box2 {
    width: 75%;
}
.career_box2 p{
    margin: 0;
}
.career_box_sub {
    background-color: transparent;
}
/* 趣味 */
.hobby_all {
    display: flex;
    flex-wrap: wrap;
    background: #F2F2F2;
    padding:50px;
}
.h_music::before{
content:url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-headphones%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23464646%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Crect%20x%3D%224%22%20y%3D%2213%22%20rx%3D%222%22%20width%3D%225%22%20height%3D%227%22%20%2F%3E%20%3Crect%20x%3D%2215%22%20y%3D%2213%22%20rx%3D%222%22%20width%3D%225%22%20height%3D%227%22%20%2F%3E%20%3Cpath%20d%3D%22M4%2015v-3a8%208%200%200%201%2016%200v3%22%20%2F%3E%3C%2Fsvg%3E');
}

.h_photo::before{
    content:url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-camera%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23464646%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M5%207h1a2%202%200%200%200%202%20-2a1%201%200%200%201%201%20-1h6a1%201%200%200%201%201%201a2%202%200%200%200%202%202h1a2%202%200%200%201%202%202v9a2%202%200%200%201%20-2%202h-14a2%202%200%200%201%20-2%20-2v-9a2%202%200%200%201%202%20-2%22%20%2F%3E%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2213%22%20r%3D%223%22%20%2F%3E%3C%2Fsvg%3E');
    }
.h_wear::before {
    content: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-hanger%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23464646%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Cpath%20d%3D%22M15%207a3%203%200%201%200%20-3%203v2m0%200l-8.624%205.488a0.82%20.82%200%200%200%20.44%201.512h16.368a0.82%20.82%200%200%200%20.44%20-1.512l-8.624%20-5.488z%22%20%2F%3E%3C%2Fsvg%3E');
}

.h_map::before {
    content: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22icon%20icon-tabler%20icon-tabler-map-pin%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22%23464646%22%20fill%3D%22none%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%20%3Cpath%20stroke%3D%22none%22%20d%3D%22M0%200h24v24H0z%22%20fill%3D%22none%22%2F%3E%20%3Ccircle%20cx%3D%2212%22%20cy%3D%2211%22%20r%3D%223%22%20%2F%3E%20%3Cpath%20d%3D%22M17.657%2016.657l-4.243%204.243a2%202%200%200%201%20-2.827%200l-4.244%20-4.243a8%208%200%201%201%2011.314%200z%22%20%2F%3E%3C%2Fsvg%3E');
}

.hobby_all li{
    width: 25%;
    margin: 15px 0;
    text-align: center;
}

.hobby_all li p{ 
    margin: 0;
}
/* profile詳細ページ 終*/
/* 問い合わせ */
.all_contact {
    background-color: #EBF3F3;
    padding: 50px;
    margin-top: 50px;
}
.all_contact h1 {
    text-align: center;
    padding-top: 40px;
}
.formTable {
    margin: auto;
}
.formTable .check{
    background-color: #00A499;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 6px;
    margin-left: 10px;
}
.formTable th {
    text-align: left;
    width: 280px;
    font-weight: normal;
}
.formTable td {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.formTable input[type=text] {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 20px;
}
.formTable textarea {
    height: 150px;
}

input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 40px;
    background-color: #00A499;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #00A499;
    font-size: 18px;
    width: 30%;
}
input[type="submit"]:hover{
    background-color: #fff;
    color: #00A499;
    padding: 15px;
    border: 1px solid #00A499;
    transition: 0.3s;
}
textarea::selection,input[type=text]::selection  {
    background: #D6F2EB;
    color: #F88600;
}
/*ラジオボタン*/
.radio-label {
  display: block;
}

input[type="radio"] {
  display: none;
}

.radio-text:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  padding: 2px;
  background-clip: content-box;
}

input[type="radio"]:not(:checked) + .radio-text:before {
  border-color: #333333;
  background: #fff;
}

input[type="radio"]:checked + .radio-text:before {
  background-color: #00A499;
}
@media (max-width:1024px) {
    body{
        font-size: 16px;
    }
    .profileinfo,.profile_box img{
        width: 100%;
    }
    .profile_box1 {
        border: #91B693 solid 4px;
        padding: 10px 25px;
    }
    .skill_box {
        width: 30%;
    }
    .profileinfo img {
        background: #F2F2F2;
        border-radius: 50%;
        width: 50%;
    }
    .work_box_all{
        justify-content: space-between;
    }
    .work_box {
        width: 32%;
        position: relative;
    }
    .work_box img {
        width: 100%;
        height: 154px;
    }
/* =============トップページ終=================*/ 

/* =============詳細ページ=================*/ 

    .work_all .work_box img {
        height: 180px;
    }
    .work_all .work_box a::after {
        height: 180px;
    }
    .work_all .work_box a::after {
        top: 5%;
        left: 3%;
    }
    .work_info {
        padding: 10px;
    }
    .workinfo_2 {
        padding: 5vw 3vw;
    }
}
@media (max-width:800px) {
    .profile_box_all {
        flex-direction: column;
    }
    .profile_box {
        width: 40%;
    }
    .profile_box1 {
        width: 80%;
    }
    .work_box_all.flex {
        flex-direction: column;
    }
    .work_box {
        width: 60%;
    }
    .work_box img {
        height: 200px;
    }
}
@media (max-width:559px) {

    html {
        font-size:14px;
    }

    img {
        object-fit: cover;
    }
    p {
        font-size: 12px;
    }
    main {
        margin-left: auto;
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    .wrapper_min{
        max-width: 90vw;
        overflow: hidden;
    }
    /* h2 {
        font-size: 12px;
    } */
  .flex {
        flex-direction: column;
        gap: 25px 0;
    }
    .all_button {
        position: absolute;
        right: 0;
        margin: 10px;
    }
    .workinfo_box_all.flex {
        flex-direction: column-reverse;
    }
    .pcNav {
        display: none;
    }
    .gNav {
        width: 100%;
    }
    .show {
        display: block;
        background: rgba(145, 182, 147, 0.9);
        width: 100%;
        height: 100vh;
    }

    .gNav.show.spNav,.gNav_list {
        margin: 0;
        gap: 0;
    }
    .spNav img{
        width: 25%;
    }
    .gNav_item_contact_button {
        width: 60%;
        font-size: 12px;
    }

    .workinfo_box {
        width: auto;
    }
    .workinfo_2::after {
        top: 1%;
        left: 4%;
    }
    .profile_box img {
        width: 60%;
    }
    .work_box,.work_all .work_box {
        width: 80%;
    }
    .profile_box, .workinfo_box,.photo img  {
        width: 100%;
    }
    .work_all .work_box {
        position: relative;
        width: 80%;
    }
    footer small {
        margin: 0; 
    }
 
 /*お問い合せ*/
    .contactForm .formTable tr {
        display: flex;
        flex-direction: column;
    }
    .all_contact {
        padding: 0px;
    }
    .contactForm .formTable td {
        width: 90%;
        margin: auto;
    }
    input[type="submit"] {
        margin-top: 0;
        font-size: 12px;
        width: 40%;
    }
    .contactForm {
        padding-bottom: 50px;
    }
}
/* =============トップページ終=================*/ 
